{% extends 'base.html' %}
{% load static %}
{% block title %}About{% endblock %}
{% block content %}
    <article class="mx-10 sm:mx-auto sm:max-w-[400px] md:max-w-[900px] md:px-3">
        <div class=" flex flex-col gap-2">
            <h1 class="text-2xl font-mono font-bold capitalize w-full text-center">Over ons</h1>
            <section class="grid grid-cols-1 md:grid-cols-2 gap-2">
                <div>
                    <h2 class="text-lg w-full border-b-2 border-b-primary font-mono capitalize">Wie zijn wij?</h2>
                    <p class="justify-center">
                        Scrumptious is een platform voor food lovers om hun favoriete recepten en eetervaringen te delen. Wij zijn een gemeenschap van foodliefhebbers die graag koken, bakken en eten. Ons platform is een plek waar je inspiratie kunt vinden voor je volgende maaltijd, je favoriete recepten kunt delen en contact kunt maken met andere food lovers. Of je nu een doorgewinterde chef bent of een beginner in de keuken, Scrumptious heeft voor ieder wat wils. Sluit je vandaag nog aan bij onze gemeenschap en begin je liefde voor eten met anderen te delen!
                    </p>
                </div>
                <div>
                    <figure>
                        <img class="rounded" src="{% static 'images/about.jpeg' %}" alt="Our team">
                    </figure>
                </div>
            </section>
            <section class="w-full text-center font-mono italic my-4">
                <q>Cooking is like love. It should be entered into with abandon or not at all.</q>
                <p class="font-semibold">- Harriet Van Horne</p>
            </section>
            <section class="flex flex-col-reverse md:flex-row gap-2">
                <div>
                    <figure>
                        <img class="rounded object-cover w-[700px]" src="{% static 'images/mission.png' %}" alt="Our mission">
                    </figure>
                </div>
                <div>
                    <h2 class="text-lg w-full border-b-2 border-b-primary font-mono capitalize">Onze missie</h2>
                    <p class="text-justify">
                Bij Scrumptious is onze missie om food lovers over de hele wereld te inspireren en met elkaar te verbinden. Wij geloven dat eten de kracht heeft om mensen samen te brengen en blijvende herinneringen te creëren. Ons platform is een plek waar je je liefde voor eten met anderen kunt delen, nieuwe recepten kunt ontdekken en contact kunt maken met gelijkgestemde individuen. Of je nu op zoek bent naar een nieuw recept om uit te proberen of je culinaire creaties met de wereld wilt delen, Scrumptious is de plek voor jou. Sluit je vandaag nog aan bij onze gemeenschap en begin je passie voor eten met anderen te delen!
                    </p>
                </div>
            </section>
        </div>
    </article>
{% endblock %}