{% extends 'base.html' %}
{% load static %}

{% block title %}Registration{% endblock %}

{% block content %}
    <section class="min-h-[70vh] relative">
        {% if error %}
            <div class="text-center text-text p-4 bg-red-400 absolute w-full">
                <h1>{{ error.capitalize }}</h1>
            </div>
        {% endif %}
        <div class="mx-auto flex items-center w-full justify-center min-h-[70vh] bg-accounts bg-cover bg-center p-10">
            <form method="post">
                {% csrf_token %}
                <div class="flex flex-col gap-2">
                    <h1 class="text-4xl font-bold">Register</h1>
                    {% for field in form %}
                        <div class="flex flex-col gap-2">
                            <label for="{{ field.name }}" class="capitalize">{{ field.label }} <span
                                    class="text-small text-red-400">*</span></label>
                            {{ field }}
                        </div>
                    {% endfor %}
                    <div class="flex justify-between items-center">
                        <button type="submit" class="bg-primary text-white p-2 rounded">Register</button>
                        <a href="{% url 'login' %}" class="text-primary">Log in</a>
                    </div>
                </div>
            </form>
        </div>
    </section>
{% endblock %}