
{% load static tailwind_tags %}


<!DOCTYPE html>
<html lang="en">
	<head>
    <title>{% block title %}{% endblock %} - Scrumptious</title>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<meta http-equiv="X-UA-Compatible" content="ie=edge">
		{% tailwind_css %}
        <script src="https://code.jquery.com/jquery-3.7.1.min.js" integrity="sha256-/JqT3SQfawRcv/BIHPThkBvs0OEvtFFmqPF/lYI/Cxo=" crossorigin="anonymous"></script>
	</head>

	<body class="">
        {% include 'nav.html' %}
        {% if messages %}
            {% for message in messages %}
                {{ message }}
            {% endfor %}
        {% endif %}
        {% block content %}{% endblock %}
        {% include 'footer.html' %}
	</body>
</html>
