<li>
    <a class="text-text transition hover:text-text/75" href="{% url 'about' %}"> Over Ons </a>
</li>

<li>
    <a class="text-text transition hover:text-text/75" href="{% url 'home' %}"> Recepten </a>
</li>



{% if user.is_authenticated %}

    <li>
        <a class="text-text transition hover:text-text/75"
           href="{% url 'create' %}"> Post Maken </a>
    </li>

    <li>
<a class="text-text transition hover:text-text/75 font-bold capitalize" href="{% url 'profile' %}"> {{ user.username }} </a>
    </li>

    {% if user.is_staff %}
        <li>
            <a class="transition hover:text-text/75 rounded border-2 border-primary bg-primary p-2 text-white" href="{% url 'admin' %}"> Admin </a>
        </li>
    {% endif %}

    <li>
        <form method="post" action="{% url 'logout' %}">
            {% csrf_token %}
            <button class="text-text transition hover:text-text/75 rounded border-2 border-primary p-2" type="submit">
                Uitloggen
            </button>
        </form>
    </li>

{% else %}

    <li>
        <a class="text-text transition hover:text-text/75 rounded border-2 border-primary p-2"
           href="{% url 'register' %}"> Account maken </a>
    </li>

    <li>
        <a class="transition hover:text-text/75 rounded border-2 border-primary bg-primary p-2 text-white"
           href="{% url 'login' %}"> Inloggen </a>
    </li>

{% endif %}