<li>
    <a class="text-text transition hover:text-text/75" href="#"> About </a>
</li>

<li>
    <a class="text-text transition hover:text-text/75" href="#"> Careers </a>
</li>

<li>
    <a class="text-text transition hover:text-text/75" href="#"> History </a>
</li>

<li>
    <a class="text-text transition hover:text-text/75" href="#"> Services </a>
</li>

<li>
    <a class="text-text transition hover:text-text/75" href="#"> Projects </a>
</li>

<li>
    <a class="text-text transition hover:text-text/75" href="#"> Blog </a>
</li>