<li>
    <a class="text-text transition hover:text-text/75" href="#"> About </a>
</li>

<li>
    <a class="text-text transition hover:text-text/75" href="#"> Careers </a>
</li>

<li>
    <a class="text-text transition hover:text-text/75" href="#"> History </a>
</li>

<li>
    <a class="text-text transition hover:text-text/75" href="{% url 'home' %}"> Home </a>
</li>

{% if not user.is_authenticated %}

    <li>
        <a class="text-text transition hover:text-text/75 rounded border-2 border-primary p-2"
           href="{% url 'register' %}"> Create Account </a>
    </li>

    <li>
        <a class="transition hover:text-text/75 rounded border-2 border-primary bg-primary p-2 text-white"
           href="{% url 'login' %}"> Log In </a>
    </li>

{% else %}

    <li>
        <form action="{% url 'logout' %}" method="post">
            {% csrf_token %}
            <button type="submit">Log Out</button>
        </form>
    </li>

{% endif %}