{% extends 'base.html' %}
{% load static %}

{% block title %}Login{% endblock %}

{% block content %}

    {% for post in posts %}

        <div class="max-w-3xl mx-auto bg-white rounded-lg shadow-lg p-6 mb-6">


            <img src="{{ post.image }}" alt="Post afbeelding"
                 class="w-full h-64 object-cover rounded-lg mb-4 shadow-md">


            <h1 class="text-3xl font-bold mb-2 text-gray-800">{{ post.title }}</h1>

            <h2 class="text-xl font-semibold mb-1 text-blue-600">Ingredients</h2>
            <p class="list-disc list-inside mb-4 text-gray-700">{{ post.ingredients }}</p>


            <h2 class="text-xl font-semibold mb-1 text-blue-600">Preparation</h2>
            <p class="mb-4 text-gray-700">{{ post.preparation }}</p>


            <h2 class="text-xl font-semibold mb-1 text-blue-600">Description</h2>
            <p class="mb-4 text-gray-700">{{ post.description }}</p>

            <h2 class="text-xl font-semibold mb-1 text-blue-600">Place Comments</h2>
            <textarea rows="4"
                      class="w-full p-3 border border-gray-300 rounded-lg shadow-sm focus:outline-none focus:ring-2 focus:ring-blue-500 mb-4"
                      placeholder="Place your comment..."></textarea>


            <button class="mt-2 w-full bg-blue-500 text-white font-bold py-2 rounded-lg hover:bg-blue-600 transition duration-200">
                Send Comment
            </button>
        </div>

        <div class="h-12"></div>
    {% endfor %}
{% endblock %}