{% extends 'base.html' %}
{% load static %}

{% block title %}Create Post{% endblock %}

{% block content %}

    <div class="mx-auto flex items-center w-full justify-center min-h-[70vh] bg-accounts bg-cover bg-center p-10">
        <div class="flex flex-col gap-2">
            <div class="flex flex-col gap-2">
                <form method="POST" action="{% url 'makepost' %}" enctype= multipart/form-data>
                    {% csrf_token %}
                    <div class="flex-col ">
                        {% for field in form %}
                            <div class="flex flex-col gap-2">
                                <label for="{{ field.name }}" class="capitalize">{{ field.name }} <span class="text-small text-red-400">*</span></label>
                                {{ field }}
                            </div>
                        {% endfor %}
                        <div class="flex justify-between items-center">
                            <button type="submit" class="bg-primary text-white p-2 rounded" onclick="return alert('Post created successfully!')">Create</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
    <div class="h-12"></div>

{% endblock %}